<!DOCTYPE html>
<html onClick="exitSplash()">
  <head>
    <title>Octopusgram, clicks solidarios | Octopusgram solidary clicks</title>
    <meta content="El año que viene, con tus clicks, podrás contribuir a una buena causa" name="description"/>
    <meta content="publicidad, marketing, menorca, agencia, solidaridad, solidario, click, contribuye, guia, restaurantes, alquileres" name="keywords"/>
    <%= stylesheet_link_tag "splash" %>
    <%= javascript_include_tag "splash" %>
    <meta content="width=device-width" name="viewport"/>
  </head>
  <body onClick="exitSplash()" onLoad="timeLapse()">
    <div>
      OCTOPUS
      <span>GRAM</span>
    </div>
    <p>
      Clicks solidarios
      <span>Solidary clicks</span>
    </p>
  </body>
</html>
